:root { 
--purple_100:#eaccf8; 
--indigo_A200_01:#426bff; 
--red_600:#ec332d; 
--blue_A700:#2b5aff; 
--light_green_A700:#56ca00; 
--indigo_A200:#5e5bff; 
--red_500:#ff4842; 
--light_green_A200:#bef860; 
--green_800:#058639; 
--green_A400_e5:#00fc92e5; 
--green_A400:#00fc64; 
--blue_gray_200_01:#ada8c3; 
--lime_A700_e5:#9cfc00e5; 
--black_900_01:#0e0c15; 
--amber_A700:#eba806; 
--black_900:#0a0a0b; 
--light_blue_A700:#0090f9; 
--blue_gray_800:#41355b; 
--blue_gray_900_01:#282d45; 
--green_A400_01:#00fc92; 
--blue_gray_900:#2e3237; 
--deep_purple_A200:#9155fd; 
--black_900_03:#060607; 
--black_900_02:#000000; 
--deep_purple_A200_01:#7d36ff; 
--gray_900_02:#15131d; 
--gray_900_03:#14141d; 
--blue_gray_200:#ada7c3; 
--gray_500:#999999; 
--orange_A200:#ffad34; 
--blue_gray_300:#8699b0; 
--amber_600:#ffb400; 
--gray_900:#18191c; 
--gray_900_01:#202025; 
--gray_200:#eaeaea; 
--blue_gray_300_03:#8f9bb7; 
--teal_A200:#69eacb; 
--blue_gray_300_01:#9389b3; 
--blue_gray_300_02:#938ab4; 
--light_green_A700_01:#56b80e; 
--light_green_A700_02:#5fde32; 
--lime_A700:#9cfc00; 
--white_A700:#ffffff; 
--light_blue_A700_01:#0088ea; 
--red_500_01:#ff3434; 
}